.gallery {
  padding: 15px;

  .thumbnail-container {
    display: inline-flex;
    text-align: center;

    .thumbnail {
      padding: 15px;
      max-width: 150px;
      max-height: 150px;
    }
  }

}
