.comments {

  ul.comment-container {
    padding: 0;

    li {
      list-style: none;
      padding: 10px;
      background-color: white;
      margin-bottom: 10px;
      display: flex;

      .content {
        order: 1;
        width: 75%;
      }

      .user-info {
        order: 2;
        width: 25%;
        text-align: right;

        .timestamp {
          font-style: italic;
          font-size: 12px;
        }

        .username {
          font-weight: bold;
        }
      }
    }
  }

  .add-comment-form {
    .form-group {
      padding-bottom: 15px;

      label {
        display: flex;

        &:after {
          content: ' *';
          color: red;
        }
      }

      input,
      textarea {
        display: flex;
        width: 60%;
      }

      .submit-btn {
        border: 3px solid darkslategrey;
        padding: 5px;
        box-shadow: 3px 3px grey;
      }
    }
  }

}
